body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

p {
    font-size: 100%;
}

byline
{
    font-size: 75%;
}

h1
{
    font-size: 125%
}

h2
{
  font-size: : 110%
}
