<!DOCTYPE html>
{% autoescape true %}
<html>
    
    <title>ListMaker.co : Create Lists And Share Them With Your Friends!</title>
    
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    
    <h1>ListMaker : Create Lists And Share Them With Your Friends</h1>
    <p2>
    <a href = "/newlist">Create New List</a>
    &emsp;
    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </p2>

    <hr>
    
    <body>
        {% for recent_list in recent_lists %}

        <p>
        <a href = list/{{recent_list.content | urlencode}} >{{ recent_list.content }}</a>
        <byline>
        <br>
        <i>
        {% if recent_list.author %}
        by: {{ recent_list.author.nickname() }}
        {% else %}
        by: Anonymous
        {% endif %}
        </i>
        </byline>
        </p>
        
        {% endfor %}
    </body>
</html>
{% endautoescape %}