<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        <div>{{ list_unquoted }}</div>
        
        {% for listitem in list %}
        {% if listitem.author %}
        <b>{{ listitem.author.email() }}
            {% if user and user.user_id() == listitem.author.user_id() %}
            (You)
            {% endif %}
        </b> wrote:
        {% else %}
        An anonymous person wrote:
        {% endif %}
        <blockquote>{{ listitem.content }}</blockquote>
        {% endfor %}
        
        <form action="/list/{{list_name}}?write_list={{list_name}}" method="post">
            <div><textarea name="content" rows="3" cols="60" maxlength="500"></textarea></div>
            <div><input type="submit" value="Add item to list"></div>
        </form>
        <hr>
        <a href="{{ url|safe }}">{{ url_linktext }}</a>
        
    </body>
</html>
{% endautoescape %}